<div data-role="page">
    <div data-role="header">
        <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
            <a href="/" onclick=resetCam(); class="ui-btn ui-btn-icon-left ui-icon-home">Inicio</a>
        </div>
        <img src="/images/logo.png" class="ui-btn-left" style="height: 2.8em" />
        <h6>Fichas</h6> 
    </div>

    <br>

    <div id="content" style="margin-left: 10px">
        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <div style="width:90%" class="ui-field-contain">
                    <label for="textinput-prop">Propietario:</label>
                    <input data-clear-btn="true" name="textinput-prop" id="textinput-prop" placeholder="" value="" type="text">
                </div>
            </div>
            <div class="ui-block-b">
                <div style="width:90%" class="ui-field-contain">
                    <label for="textinput-nom">Nombre:</label>
                    <input data-clear-btn="true" name="textinput-nom" id="textinput-nom" placeholder="" value="" type="text">
                </div>
            </div>
        </fieldset>

        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <div style="width:90%" class="ui-field-contain">
                    <label for="textinput-tel">Teléfono:</label>
                    <input data-clear-btn="true" name="textinput-tel" id="textinput-tel" placeholder="" value="" type="tel">
                </div>
            </div>
            <div class="ui-block-b">
                <div style="width:90%" class="ui-field-contain">
                    <!--	<label for="textinput-raza">Raza:</label>
			<input data-clear-btn="true"  name="textinput-raza" id="textinput-raza" placeholder="" value="" type="text">  -->
                    <label for="select-razas" class="select">Raza:</label>
                    <select name="select-razas" id="select-razas">
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <div style="width:90%" class="ui-field-contain">
                    <label for="textinput-mov">Móvil:</label>
                    <input data-clear-btn="true" name="textinput-mov" id="textinput-mov" placeholder="" value="" type="tel">
                </div>
            </div>
            <div class="ui-block-b">
                <div style="width:90%" class="ui-field-contain">
                    <label for="textinput-color">Color:</label>
                    <input data-clear-btn="true" name="textinput-color" id="textinput-color" placeholder="" value="" type="text">
                </div>
            </div>
        </fieldset>
        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <div style="width:90%" class="ui-field-contain">
                    <label for="textinput-mail">Correo electrónico:</label>
                    <input data-clear-btn="true" name="textinput-mail" id="textinput-mail" placeholder="" value="" type="email">
                </div>
            </div>
            <div class="ui-block-b">
                <div style="width:90%" class="ui-field-contain">
                    <label for="textinput-edad">Edad:</label>
                    <input data-clear-btn="true" name="textinput-edad" id="textinput-edad" placeholder="" value="" type="number">
                </div>
            </div>
        </fieldset>
        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <div style="width:90%" class="ui-field-contain">
                    <label for="textinput-car">Carácter:</label>
                    <input data-clear-btn="true" name="textinput-car" id="textinput-car" placeholder="" value="" type="text">
                </div>
            </div>
            <div class="ui-block-b">
                <div style="width:90%" class="ui-field-contain">
                    <label for="textarea-prob">Problemas Médicos:</label>
                    <textarea rows="9" name="textarea-prob" id="textarea-prob"></textarea>
                </div>
            </div>
        </fieldset>
        <fieldset class="ui-grid-b">
            <div class="ui-block-a">
                <div style="width:90%" class="ui-field-contain">
                    <label for="retrato">Fotografía:</label>
                    <div id="retrato" style="margin-left:120px;margin-top=5px"></div>
                </div>
            </div>
            <div class="ui-block-b">
                <div style="width:50%" class="ui-field-contain">
                    <a href="#" onclick=foto(); id="foto" class="ui-btn ui-btn-inline ui-icon-camera ui-btn-icon-left">Foto</a>
                    <a href="#" onclick=hacerFoto(); style="display:none" style="margin-top:5px" id="hacerFoto" class="ui-btn ui-btn-inline ui-icon-camera ui-btn-icon-left">Foto</a>
                </div>
            </div>
            <div class="ui-block-c">

                <div style="width:90%" class="ui-field-contain">
                    <div id="camara"></div>
                </div>

            </div>
        </fieldset>
        <br>
        <div id="div-servicios" style="display:none">
            <h3 class="ui-bar ui-bar-a ui-corner-all" title="Servicios Prestados">Servicios</h3>
            <table data-role="table" id="tabla-servicios" class="ui-body-d ui-shadow table-stripe ui-responsive">
                <thead>
                    <tr class="ui-bar-d">
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Concepto</th>
                        <th>Precio &euro;</th>
                    </tr>
                </thead>
            </table>
        </div>
        <br>
    </div>
    <div data-role="popup" id="citaFicha" data-dismissible="false" data-theme="a" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
        <h3>Dar cita</h3>
        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <div style="width:100%" id="ui-field-contain">
                    <label for="fecha-servicioFicha">Fecha:</label>
                    <input id="fecha-servicioFicha" name="fecha-servicioFicha" type="date">
                </div>
            </div>
            <div class="ui-block-b">
                <div style="width:100%" id="ui-field-contain">
                    <label for="input-horaFicha">Hora:</label>
                    <input name="input-horaFicha" id="input-horaFicha" value="09:00" type="time">
                </div>
            </div>
        </fieldset>
        <fieldset class="ui-grid-a">
            <div class="ui-block-a">
                <div style="width:90%" id="ui-field-contain">
                    <label for="textarea-servicioFicha">Servicio:</label>
                    <textarea rows="9" name="textarea-servicioFicha" id="textarea-servicioFicha"></textarea>
                </div>
            </div>
            <div class="ui-block-b">
                <div style="width:70%" id="ui-field-contain">
                    <label for="textinput-precioFicha">Precio &euro;:</label>
                    <input data-clear-btn="true" name="textinput-precioFicha" id="textinput-precioFicha" placeholder="" value="" type="number">
                </div>
            </div>
        </fieldset>
        <a href="index.html" onClick="guardaServicio('Ficha');" data-rel="back" class="ui-shadow ui-btn ui-corner-all  ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini">Guardar</a>
        <a href="index.html" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-icon-back ui-btn-icon-left  ui-btn-inline ui-mini">Cancelar</a>
        <a id="botonBorrarServicioFicha" href="index.html" onClick="borraServicio('Ficha');" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left  ui-btn-inline ui-mini" style="display:none">Borrar</a>

    </div>



    <div data-role="popup" id="popupEliminar" data-overlay-theme="b" data-theme="a" data-dismissible="false" style="max-width:400px;">
        <div role="main" class="ui-content">
            <h3 class="ui-title">¿Quiere eliminar la ficha?</h3>
            <p>Esta acción no se puede deshacer.</p>
            <a href="/" onclick=borraFicha(); class="ui-shadow ui-btn ui-corner-all  ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini">Eliminar</a>
            <a href="#" class="ui-shadow ui-btn ui-corner-all  ui-icon-delete ui-btn-icon-left ui-btn-inline ui-mini" data-rel="back">Cancelar</a>
        </div>
    </div>

    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
        <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-left">
            <a href="/" onclick=recargaInicio(); class="ui-btn ui-btn-icon-left ui-icon-home">Inicio</a>
        </div>
        <h6>Kennel Class</h6>
        <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
            <a href="/" onclick=save(); class="ui-btn ui-btn-icon-left ui-icon-check">Guardar</a> 
            <a href="/" onclick=recargaInicio(); class="ui-btn ui-btn-icon-left ui-icon-back">Cancelar</a> 
            <a id="ficha_borra_bttn" href="#popupEliminar" data-position-to="window" id="botonBorrarFicha" data-transition="pop" data-rel="popup" class="ui-btn ui-btn-icon-left ui-icon-delete" title="Elimina la ficha. No se puede deshacer el cambio">Borrar</a>
            <a id="ficha_dar_cita_bttn" href="#citaFicha" id="botonDarCitaFicha" data-rel="popup" class="ui-btn ui-btn-icon-left ui-icon-calendar" data-position-to="window" data-transition="pop">Dar cita</a> 
        </div>
    </div>

</div>
