<body>
                <fieldset class="ui-grid-b">
                        <div class="ui-block-a">
				<fieldset class="ui-grid-a">
					<div class="ui-block-a">
						<div style="width:80%" id="ui-field-contain">
							<label for="textinput-fecha-servicio">Fecha:</label>
							<input name="textinput-fecha-servicio" for="textinput-fecha-servicio" data-inline="true" type="date">  
						</div>
					</div>
					<div class="ui-block-b">
						<div style="width:50%" id="ui-field-contain">
							<label for="input-hora">Hora:</label>
						        <input name="input-hora" id="input-hora" type="time">	
						</div>
					</div>
				</fieldset>				
                	</div>
                <div class="ui-block-b">
                        <div style="width:90%" id="ui-field-contain">
                                <label for="textarea-servicio">Servicio:</label>
                                <textarea rows="9" name="textarea-servicio" id="textarea-servicio"></textarea>
                        </div>
		</div>
		<div class="ui-block-c">
                        <div style="width:90%" id="ui-field-contain">
                                <label for="textinput-precio">Precio:</label>
				<input data-clear-btn="true"  name="textinput-precio" id="textinput-precio" placeholder="" value="" type="text">
                        </div>
                </div>
	</fieldset>
</body>
